RewriteEngine On

# Chuyển hướng tất cả request không phải file/thư mục thật vào index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
